body{
    margin: 0px;
    background-color: rgb(42, 42, 46);
}
h1{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
img{
    height: 300px;
    width: 100%;
    object-fit: contain;
}
.lazyload-wrapper{
    position: relative;
}